<div class="flex flex-row gap-3 justify-center">
    @for (type of types.slice().reverse(); track type.id) {
    <!-- Version simple -->
    <div *ngIf="!showDetailed" class="p-1 rounded-full flex justify-center items-center"
        style="background-color: {{type.color}}; width: 20px; height: 20px; padding: 5px;">
        <img src="{{type.icon}}" class="h-10 w-auto object-contain">
    </div>

    <!-- Version détaillée -->
    <div *ngIf="showDetailed" class="px-3 rounded-full flex justify-center items-center space-x-3"
        style="background-color: {{type.color}};">
        <img src="{{type.icon}}" class="h-3 w-auto object-contain">
        <p class="text-white">{{type.name}}</p>
    </div>
    }
</div>