<div class="card clickable" [ngStyle]="{ 'background': getBackgroundStyle(pokemon) }">
    <div>
        <p class="opacity-40">#{{ pokemon.id }}</p>
    </div>
    <div class="flex flex-col justify-center items-center gap-3">

        <img [src]="pokemon.default_variety.sprites?.artwork_url" [alt]="pokemon.name" class="w-1/2 max-w-md">
    </div>

    <div class="flex flex-col justify-center">
        <p>{{ pokemon.name }}</p>
        <div class="flex">
            @if(pokemon.default_variety.types){
            <app-type-badge [types]="pokemon.default_variety.types"></app-type-badge>
            }
        </div>
    </div>

</div>