<div class="shadow-md rounded-xl transition-colors bg-white" [ngStyle]="{ 'box-shadow': getShadowStyle(pokemon) }">
    <div class="rounded-xl relative" [ngStyle]="{ 'background': getBackgroundStyle(pokemon) }">
        <p class=" text-white pl-4 pt-2 font-bold">#{{ pokemon.id.toString().padStart(4, '0') }}</p>
        <div class="flex flex-col justify-center items-center gap-3 relative pokemon-image-container">
            <img [src]="pokemon.default_variety.sprites?.artwork_url" [alt]="pokemon.name" class="pokemon-image">
        </div>
    </div>

    <div class="flex flex-col justify-center bg-white px-4 rounded-xl pb-3">
        <p class="font-bold">{{ pokemon.name }}</p>
        <div class="flex">
            @if(pokemon.default_variety.types){
            <app-type-badge [types]="pokemon.default_variety.types" [showDetailed]="false"></app-type-badge>
            }
        </div>
    </div>
</div>